header{
    text-align: center;
}


h1{
    text-transform: uppercase;
    font-family: 'Hannalei';
    font-size: 500%;
}

@font-face{
    src: url(fuentes/Hanalei-Regular.ttf);
    font-family: 'Hannalei';
}
article{
    text-align: center;
    
}

section{
 
}
table{
    margin-left: auto;
    margin-right: auto;
}

table.primera caption{
    background-color: yellow;
}
table.primera{
    border: black 1px solid;
    border-collapse: separate;
    width: 50%;
}
table.primera td,th{
    border: black 1px solid;
    
    empty-cells: hide;
    
}
table.segunda{
    border: black 2px solid;
    margin-top: 3em;
    padding: 1em 30em;

}

table.tercera caption{
    background-color: yellow;
    caption-side: bottom;

}
table.tercera{
    border: black 1px solid;
    border-collapse: collapse;
    margin-top: 3em;
    width: 75%;
    
}
table.tercera td,th{
    border: black 1px solid;
    
    empty-cells: hide;
    
}
table.tercera tbody{
    border: red 2px dotted;
}
table.cuarta{
    border: red 2px solid;
    margin-top: 3em;
    width: 85%;
    ;
    background-color: yellow;
    border-collapse: separate;

}
table.cuarta td{
    border: red 2px solid;
}
table.cuarta tr td{
    padding: 3em 0em;
    color: blue;
    font-weight: bold;
}
caption{
    font-size: 110%;
    color: blue;
}